/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: "Quicksand";
}

h1 {
    color: rgb(236, 221, 222);
    text-align: center;
    font-size: 100px;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

ul li {
    border: 1px solid grey;
    list-style: none;
    width: 600px;
    padding: 10px;
    border-color: rgb(215, 213, 213);
    color: rgb(110, 109, 109);
    font-size: 20px;
    box-shadow: 5px 2px 5px rgb(212, 212, 212);
}

input {
    border: none;
}

.delete-icon {
    color: transparent;
    font-size: 30px;
}

.delete-icon:hover {
    color: red;

}

.contador {
    color: rgb(176, 154, 154);
    font-size: 15px;
}

p {
    color: rgb(147, 69, 159);
    font-size: 15px;
}